{% extends 'baseeditdata.html'%}
{% load static%}

{% block content%}
<!--
<div class="mainTable">
    <table id="table" border="1" >

        <tr>
            <th> name</th>
            <th>Id</th>
            <th>email</th>
            <th>adress</th>
            <th>Phone number</th>
            <th>Gender</th>
            <th>martial status</th>
            <th>vaction days</th>
            <th>approved vaction days</th>
            <th>salary</th>
            <th>birth day</th>
        </tr>
        {% for emp  in emp %}
            <tr>
                <th> {{emp.Name}}</th>
                <th>{{emp.Emp_Id}}</th>
                <th>{{emp.Email}}</th>
                <th>{{emp.adress}}</th>
                <th>{{emp.Phone_number}}</th>
                <th>{{emp.Gender}}</th>
                <th>{{emp.Martial_status}}</th>
                <th>{{emp.Vacation_Days}}</th>
                <th>{{emp.Vacation_Days_approved}}</th>
                <th>{{emp.Salary}}</th>
                <th>{{emp.Birthday}}</th>
            </tr>
        {% endfor %}
        

        
        
        </tbody>
    </table>

    </div> 
    
<br>-->

<div class="container">
    <form action="" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" name="Update" style="background-color: white; border: none; border-radius: 5px; color: #333; /* Dark grey */ padding: 3px 3px">

    </form>
   <!-- <div class="card">
        <div class="inner-box">
            <div class="card-front">
                <div clas="log" >
                   </div>
                        <h1>Edit employee's data</h1>
                        <div class="editTable">
                            <div>
                                <label for="name">Employee's Name</label>
                                <input id="name" type="text" >
                            </div>
                            <br>
                            <div>
                                <label for="id">Employee's ID</label>
                                <input id="ide" type="text" min="1" max="10000" readonly>
                            </div>
                            <br>
                            <div>
                                <label for="email">Employee's Email</label>
                                <input id="email" type="email" required placeholder="Write a valid email">
                            </div>
                            <br>
                            <div>
                                <label for="address">Employee's Address</label>
                                <input id="address" type="text" required placeholder="Write your address">
                            </div>
                            <br>
                            <div>
                                <label for="phone num">Employee's Phone number</label>
                                <input id="phone num" type="text" required placeholder="Write Phone number" min="11" max="11">
                            </div>
                            <br>
                            <div>
                                
                                <label>Employee Gender</label><br>
                                <input type="radio" name="gender" id="gen" value="male" checked> Male<br>
                                <input type="radio" name="gender" id="gen"value="female"> Female<br>
                                <input type="radio" name="gender" id="gen"value="other"> Other
                            </div>
                            <br>
                            <div>
                                <label>Employee's Marital status</label>
                                 <br>
                            
                                <select name="marital_status" id="marital_status">
                                    <option value="Single" selected>Single </option>
                                    <option value="Married">Married</option>
                                    <option value="Widowed">Widowed</option>
                                    <option value="Separated">Separated</option>
                                    <option value="Divorced">Divorced</option>
                                </select>
                            </div>
                            <br>
                            <div>
                                <label for="vac num">Employee's Vacation days </label>
                                <input id="vac num" type="number"  min="1" max="100">
                            </div>
                            <br>
                            <div>
                                <label for="ap vac num">Employee's Approved Vacation days </label>
                                <input id="ap vac num" type="number"  min="1" max="100">
                            </div>
                            <br>
                            
                            <div>
                                <label for="sal">Employee's Salary </label>
                                <input id="sal" type="number" >
                            </div>
                            <br>
                            <div>
                                <label for="date">Employee's Birth Date:</label>
                    
                                 <input type="date" id="date">
                            </div>
                            <button onclick="editRow()" class="editRowBut">Update</button>
                            
                            <button onclick="deleteRow()" class="deleteRowBut">Delete</button>

                        </div>
                    </div>
<div class="card-back"></div>
        </div>
    </div>-->
</div>
{% endblock content%}
