*{
                padding:0px;
                margin:0px;
                text-decoration: none;
                list-style: none;
                box-sizing: border-box;
                
            }
            
            body{
                font-family: montserrat;
            }
            
            nav{
                background: #F6F4E8;
                height:80px;
                width:100%;
            }
            
            label.logo{
                color:black;
                font-size: 50px;
                line-height: 80px;
                padding:0 100px;
                font-weight: bold;
            }
            
            nav ul{
                float:right;
                margin-right: 20px;
            }
            
            nav ul li{
                display: inline-block;
                line-height: 80px;
                margin:0 5px
            }
            
            nav ul li a{
                color:black;
                font-size: 17px;
                padding:7px 13px;
                border-radius: 5px;
                font-weight: bold;
                text-transform: uppercase;
            }
            
            a.active,a:hover{
                background: #BACEC1;
                transition: .5s;
                font-size: 25px;
            }
            
            .checkbtn{
                font-size: 30px;
                color:white;
                float:right;
                line-height: 80px;
                margin-right: 40px;
                cursor: pointer;
                display: none;
            }
            
            #check{
                display: none;
            }
            
            @media (max-width:952px){
                .logo{
                    font-size: 30px;
                    padding-left: 50px;
                }
                nav ul li a{
                    font-size: 16px;
                }
            }
            
            @media (max-width: 858px){
                .checkbtn{
                    display: block;
                }
                ul{
                    position: fixed;
                    width:100%;
                    height: 100vh;
                    background: #C0A9BD;
                    top:80px;
                    left: -100%;
                    text-align: center;
                    transform: all .5s; 
                }
                
                nav ul li{
                    display: block;
                    margin: 50px 0;
                    line-height: 20px;
                }
                nav ul li a{
                    font-size: 20px;
                }
            }
/************/
*{
    margin: 0;
    padding: 0;

}
.mainTable{
    text-align: center;
    margin-top: 10px;
    
}
#table{
    margin: 5px auto;
}
table tr:not(:first-child):hover{
    background-color: #ddd;

}
table{
    width: 80%;
    border-collapse: collapse;
    text-align: center;
    

}
tr:nth-child(odd){
    background-color: lightgray;
}


.editRowBut{
    background-color: #BACEC1;
    color:black;
    border: 1px solid black;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
    
}
.editRowBut:hover{
    background-color: bisque;
    color: black;
    transition: .5s;
}
tr{
    
    padding:15px;
    margin:15px;
}
tr:hover{
    cursor: pointer;
}
/***********************/

/***********************************************/
.container{
            width: 100%;
            height: 120vh;
            display: flex; /**/
            align-items: center; 
            justify-content: center; /**/
            background-color: #BACEC1;
            position: absolute;

            
}
.card{
            width: 1500px;
            height: 800px;
            box-shadow: 0 0 40px 20px rgb(0,0,0,0.26);
            background-color: white;
            
}
.inner-box{
            position: relative; /**/
            width: 100%;
            height: 100%;
            
}
.card-front , .card-back {
            position: absolute;/**/
            width: 100%;
            height: 100%;
            background-position: center; /**/
            background-size: cover;
            padding: 55px;
            box-sizing: border-box; /**/
            backface-visibility: hidden; /**/
}
.card-back{
            transform: rotateY(180deg);
}

.card h2{
            font-weight: bolder;
            font-size: 35px;
            text-align: center;
            margin-bottom: 20px;
}
.input-box{
            width: 100%;
            background: transparent;/**/
            border: 1px solid black;
            margin: 6px 0;
            height: 32px;
            border-radius: 20px;
            padding:0 10px;
            box-sizing: border-box;
            outline: none; /**/
            text-align: center;
}
button{
            width: 20%;
            background: transparent;
            border: 1px solid black;
            margin: 35px 300px ;
            height: 32px;
            font-size: 15px;
            font-weight: bold;
            border-radius: 20px;
            padding: 0 10px;
            box-sizing: border-box;
            outline: none;
            cursor: pointer;
            left: 50%;
}
button:hover{
    background-color: #BACEC1;
    font-size: 25px;
    font-weight: bolder;
    width: 25%;
}
