*{
                padding:0px;
                margin:0px;
                text-decoration: none;
                list-style: none;
                box-sizing: border-box;
            }
            
            body{
                font-family: montserrat;
            }
            
            nav{
                background: #F6F4E8;
                height:80px;
                width:100%;
            }
            
            label.logo{
                color:black;
                font-size: 50px;
                line-height: 80px;
                padding:0 100px;
                font-weight: bold;
            }
            
            nav ul{
                float:right;
                margin-right: 20px;
            }
            
            nav ul li{
                display: inline-block;
                line-height: 80px;
                margin:0 5px
            }
            
            nav ul li a{
                color:black;
                font-size: 17px;
                padding:7px 13px;
                border-radius: 5px;
                font-weight: bold;
                text-transform: uppercase;
            }
            
            a.active,a:hover{
                background: #BACEC1;
                transition: .5s;
                font-size: 25px;
            }
            
            .checkbtn{
                font-size: 30px;
                color:white;
                float:right;
                line-height: 80px;
                margin-right: 40px;
                cursor: pointer;
                display: none;
            }
            
            #check{
                display: none;
            }
            
            @media (max-width:952px){
                .logo{
                    font-size: 30px;
                    padding-left: 50px;
                }
                nav ul li a{
                    font-size: 16px;
                }
            }
            
            @media (max-width: 858px){
                .checkbtn{
                    display: block;
                }
                ul{
                    position: fixed;
                    width:100%;
                    height: 100vh;
                    background: #C0A9BD;
                    top:80px;
                    left: -100%;
                    text-align: center;
                    transform: all .5s; 
                }
                
                nav ul li{
                    display: block;
                    margin: 50px 0;
                    line-height: 20px;
                }
                nav ul li a{
                    font-size: 20px;
                }
            }
            
            section{
                /*background: url(istockphoto-1175702622-612x612.jpg) no-repeat;*/
                background-size: cover;
                height: calc(100vh - 80px);
            }
 body{
                    margin:0;
                    padding:0;
                    background-color: #BACEC1;
                    /*background:url(here.jpeg);*/
                    background-size: cover;
                }
                
                h1{
                    margin: 0 0 10px;
                    padding:0;
                    font-size:30px;
                    color:black;
                }
                
                .box{
                    position: absolute;
                    top:50%;
                    left:50%;
                    width: 500px;
                    transform:translate(-50%,-50%);
                }
                input{
                    position: relative;
                    display: inline-block;
                    font-size: 20px;
                    box-sizing: border-box;
                    transition: .5s;
                }
                input[type="text"]{
                    background: #FFF;
                    width:340px;
                    height: 40px;
                    border:none;
                    outline: none;
                    padding:0 25px;
                    border-radius: 25px 0 0 25px;
                    
                }
                input[type="submit"]{
                        position: relative;
                        border-radius: 25px;
                        width:130px;
                        height: 35px;
                }
                input[type="submit"]:hover{
                    background-color: #BACEC1;
                    font-weight: bold;
                    font-size:35px;
                    color:black;
                    border:none;
                    outline:none;
                }
                
                input.sub{
                    cursor: pointer;
                }